<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
	<title>Home</title>
	<meta charset="utf-8"></meta>
	<meta name="viewpoint" content="width=device-width, initial-scale=1"></meta>
	<meta name="description" content="Web Technology coursework"></meta>
	<meta name="author" content="Shike and Silviu"></meta>

	<!-- Bootstrap CSS -->
	<link href="../../css/bootstrap.min.css" rel="stylesheet"></link>
	<!-- Custom CSS -->
	<link href="../../css/customize.css" rel="stylesheet"></link>

</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <!--Login popup-->
    <% include ../partials/auth-popup.ejs %>

	<div class="container content">
        <%  for(var category = 0; category < categoriesPosts.length; category++) { %>
            <%if(category == 0) { %>
                <!--The first section-->
                <section class="container-fluid module model-1" id="programming">
                    <h2 class="topic"><a  href="category.html/id=<%=categoriesPosts[category][0].categoryId%>"><%=categoriesPosts[category][0].categoryName%> ></a></h2>
                    <div class="row topStory">
                        <a href="read_post.html/id=<%=categoriesPosts[category][0].id%>"><img class="col-sm-8 clickable" id="topImage" src="../..<%=categoriesPosts[category][0].imageUrl%>"/></a>
                        <div class="col-sm-4" id="topStory-description">
                            <a href="read_post.html/id=<%=categoriesPosts[category][0].id%>">
                                <h3 class="topStory-title clickable"><%=categoriesPosts[category][0].title%></h3>
                                <p class="intro clickable"><%=categoriesPosts[category][0].description%></p>
                            </a>
                            <div class="topStory-author-info clickable">
                                <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                            </div>
                        </div>
                    </div>

                    <div class="row latestStories">
                        <div class="col-sm-4 story clickable" id="story1-1">
                            <a href="read_post.html/id=<%=categoriesPosts[category][1].id%>">
                                <div class="story-image" style="background-image: url('../..<%=categoriesPosts[category][1].imageUrl%>')"></div>
                                <h4 class="story-title"><%= categoriesPosts[category][1].title%></h4>
                                <p class="story-intro"><%= categoriesPosts[category][1].description%></p>
                            </a>
                            <div class="story-author-info">
                                <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                            </div>
                        </div>
                        <div class="col-sm-4 story clickable" id="story1-2">
                            <a href="read_post.html/id=<%=categoriesPosts[category][2].id%>">
                                <div class="story-image" style="background-image: url('../..<%=categoriesPosts[category][2].imageUrl%>')"></div>
                                <h4 class="story-title"><%= categoriesPosts[category][2].title%></h4>
                                <p class="story-intro"><%= categoriesPosts[category][2].description%></p>
                            </a>
                            <div class="story-author-info">
                                <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                            </div>
                        </div>
                        <div class="col-sm-4 story clickable" id="story1-3">
                            <a href="read_post.html/id=<%=categoriesPosts[category][3].id%>">
                                <div class="story-image" style="background-image: url('../..<%=categoriesPosts[category][3].imageUrl%>')"></div>
                                <h4 class="story-title"><%= categoriesPosts[category][3].title%></h4>
                                <p class="story-intro"><%= categoriesPosts[category][3].description%></p>
                            </a>
                            <div class="story-author-info">
                                <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                            </div>
                        </div>
                    </div>
                </section>
            <%} else if(category == 1){%>
                <!--The Second section-->
                <section class="container-fluid module model-2" id="digital">
                    <h2 class="topic"><a href="category.html/id=<%=categoriesPosts[category][0].categoryId%>"><%=categoriesPosts[category][0].categoryName%> ></a></h2>
                    <div class="row">
                        <a href="read_post.html/id=<%=categoriesPosts[category][0].id%>">
                            <div class="col-sm-7 story clickable" onmouseenter="displayDesc(1)" onmouseleave="displayTitle(1)">
                                <div class="bounding-box" id="story-2-1" style="background-image: url('../..<%=categoriesPosts[category][0].imageUrl%>')">
                                    <div id="story-2-1-title"><h3><%= categoriesPosts[category][0].title%></h3></div>
                                    <div id="story-2-1-desc" class="story-2-desc"><h3><%= categoriesPosts[category][0].description%></h3></div>
                                </div>
                            </div>
                        </a>
                        <a href="read_post.html/id=<%=categoriesPosts[category][1].id%>">
                            <div class="col-sm-5 story clickable" onmouseenter="displayDesc(2)" onmouseleave="displayTitle(2)">
                                <div class="bounding-box" id="story-2-2"  style="background-image: url('../..<%=categoriesPosts[category][1].imageUrl%>')">
                                    <div id="story-2-2-title"><h3><%= categoriesPosts[category][1].title%></h3></div>
                                    <div id="story-2-2-desc" class="story-2-desc"><h3><%= categoriesPosts[category][1].description%></h3></div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a href="read_post.html/id=<%=categoriesPosts[category][2].id%>">
                            <div class="col-sm-5 story clickable" onmouseenter="displayDesc(3)" onmouseleave="displayTitle(3)">
                                <div class="bounding-box" id="story-2-3"  style="background-image: url('../..<%=categoriesPosts[category][2].imageUrl%>')">
                                    <div id="story-2-3-title"><h3><%= categoriesPosts[category][2].title%></h3></div>
                                    <div id="story-2-3-desc" class="story-2-desc"><h3><%= categoriesPosts[category][2].description%></h3></div>
                                </div>
                            </div>
                        </a>
                        <a href="read_post.html/id=<%=categoriesPosts[category][3].id%>">
                            <div class="col-sm-7 story clickable" onmouseenter="displayDesc(4)" onmouseleave="displayTitle(4)">
                                <div class="bounding-box" id="story-2-4"  style="background-image: url('../..<%=categoriesPosts[category][3].imageUrl%>')">
                                    <div id="story-2-4-title"><h3><%= categoriesPosts[category][3].title%></h3></div>
                                    <div id="story-2-4-desc" class="story-2-desc"><h3><%= categoriesPosts[category][3].description%></h3></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
            <%} else {%>
                <!--The third section-->
                <section class="container-fluid" id="">
                    <h2 class="topic"><a href="category.html/id=<%=categoriesPosts[category][0].categoryId%>"><%=categoriesPosts[category][0].categoryName%> ></a></h2>
                    <div class="row">
                        <div class="col-sm-4 story clickable">
                            <div class="bounding-box-2" id="story-3-1">
                                <a href="read_post.html/id=<%=categoriesPosts[category][0].id%>">
                                    <div class="story-image" style="background-image: url('../..<%=categoriesPosts[category][0].imageUrl%>')"></div>
                                    <h4 class="story-title"><%= categoriesPosts[category][0].title%></h4>
                                    <p class="story-intro"><%= categoriesPosts[category][0].description%></p>
                                </a>
                                <div class="story-author-info">
                                    <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 story clickable">
                            <div class="bounding-box-2" id="story-3-2">
                                <a href="read_post.html/id=<%=categoriesPosts[category][1].id%>">
                                    <div class="story-image" style="background-image: url('../..<%=categoriesPosts[category][1].imageUrl%>')"></div>
                                    <h4 class="story-title"><%= categoriesPosts[category][1].title%></h4>
                                    <p class="story-intro"><%= categoriesPosts[category][1].description%></p>
                                </a>
                                <div class="story-author-info">
                                    <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 story clickable">
                            <div class="bounding-box-2" id="story-3-3">
                                <a href="read_post.html/id=<%=categoriesPosts[category][2].id%>">
                                    <div class="story-image" style="background-image: url('../..<%=categoriesPosts[category][2].imageUrl%>')"></div>
                                    <h4 class="story-title"><%= categoriesPosts[category][2].title%></h4>
                                    <p class="story-intro"><%= categoriesPosts[category][2].description%></p>
                                </a>
                                <div class="story-author-info">
                                    <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 story clickable">
                            <div class="bounding-box-2" id="story-3-4">
                                <a href="read_post.html/id=<%=categoriesPosts[category][3].id%>">
                                    <div class="story-image" style="background-image: url('../..<%=categoriesPosts[category][3].imageUrl%>')"></div>
                                    <h4 class="story-title"><%= categoriesPosts[category][3].title%></h4>
                                    <p class="story-intro"><%= categoriesPosts[category][3].description%></p>
                                </a>
                                <div class="story-author-info">
                                    <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 story clickable">
                            <div class="bounding-box-2" id="story-3-5">
                                <a href="read_post.html/id=<%=categoriesPosts[category][4].id%>">
                                    <div class="story-image" style="background-image: url('../..<%=categoriesPosts[category][4].imageUrl%>')"></div>
                                    <h4 class="story-title"><%= categoriesPosts[category][4].title%></h4>
                                    <p class="story-intro"><%= categoriesPosts[category][4].description%></p>
                                </a>
                                <div class="story-author-info">
                                    <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 story clickable">
                            <div class="bounding-box-2" id="story-3-6">
                                <a href="read_post.html/id=<%=categoriesPosts[category][5].id%>">
                                    <div class="story-image" style="background-image: url('../..<%=categoriesPosts[category][5].imageUrl%>')"></div>
                                    <h4 class="story-title"><%= categoriesPosts[category][5].title%></h4>
                                    <p class="story-intro"><%= categoriesPosts[category][5].description%></p>
                                </a>
                                <div class="story-author-info">
                                    <img src="../../img/shikefeng.jpg" /> Brilliant Robert
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            <%}%>
        <% }; %>
	</div>

<!--	JavaScrip files included-->
<!-- JQuery -->
<script src="../../js/jquery-3.1.1.js"></script>
<!-- Bootstrap -->
<script src="../../js/bootstrap.min.js"></script>
<!-- Validator -->
<script src="../../js/validator.min.js"></script>

<!-- Custom JS-->
<script src="../../js/validate.js"></script>
<script src="../../js/popup.js"></script>
<script src="../../js/animate_index.js"></script>
</body>
</html>
