<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
<head>
    <title>Profile</title>
    <meta charset="utf-8"></meta>
    <meta name="viewpoint" content="width=device-width, initial-scale=1"></meta>
    <meta name="description" content="This is the profile page; users can check and modify their profiles in this page"></meta>
    <meta name="author" content="Shike and Silviu"></meta>

    <!-- Logo of the Website -->
    <link rel="icon" href="../../img/logo.png">
    <!-- Bootstrap CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet"></link>
    <!-- Custom CSS -->
    <link href="../../css/customize.css" rel="stylesheet"></link>
    <link href="../../css/edit-post.css" rel="stylesheet"></link>
    <link href="../../css/profile.css" rel="stylesheet"></link>
</head>
<body>

<header>
    <% if(session.loggedIn) {%>
        <% var userName = session.userName%>
        <% var userId = session.userId%>
        <% var userImgPath = session.imageUrl%>
        <% var userEmail = session.userEmail%>
        <% var userPassword = session.password%>

        <% include ../partials/header1 %>
    <% } else { %>
        <% include ../partials/header %>
    <% } %>
</header>

<!--Login popup-->
<% include ../partials/auth-popup.ejs %>

<div class="container profile">
    <h2 id="PageTitle">Public Profile</h2>

    <hr />

    <form action="/updateProfile" method="post" onsubmit="return validateUpdate()" enctype="multipart/form-data" id="profileUpdate">
      <div class="row">
        <div class="col-md-6 infoContainer" id="textInfoContainer">
          <div class="profileInfo" >
            <h3>UserInfo</h3>
            <hr />
            <div class="textInfo">
              <span class="fieldName">Username : </span>
              <span class="validationMessage" id="validationMessage_username"></span>
              <br />
              <div class="fields">
                <input type="text" name="username_profile" id="profile_username" required="required" value="<%= userName %>" />
              </div>
            </div>

            <div class="textInfo">
              <span class="fieldName">Password : </span>
              <span class="validationMessage" id="validationMessage_password"></span>
              <br />
              <div class="fields">
                <input type="password" name="password_profile" id="profile_password" value="<%= userPassword %>" required="required"/>
                <span id="password_show_button"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
              </div>
            </div>

            <div class="textInfo">
              <span class="fieldName">Email : </span>
              <span class="validationMessage" id="validationMessage_email"></span>
              <br />
              <div class="fields">
                <input id="profile_email" type="text" name="email_profile" required="required" value="<%= userEmail %>" />
              </div>
            </div>

          </div>

        </div>

        <div class="col-md-6 infoContainer" id="imageInfoContainer">
          <div class="profileInfo" id="imageInfo">
            <h3>Profile Picture</h3>
            <hr />
            <img id="profile_image" alt="<%=userName %>" src="..<%=userImgPath %>">
            <input style="margin: 1.5em 1.5em" type="file" name="image_profile"/>
          </div>
        </div>
      </div>
      <button class="button submit-button" id="profileButton" type="submit" form="profileUpdate" value="Submit">Update</button>
    </form>

</div>

<!--	JavaScrip files included-->
<!-- JQuery -->
<script src="../../js/jquery-3.1.1.js"></script>
<!-- Bootstrap -->
<script src="../../js/bootstrap.min.js"></script>
<!-- Validator -->
<script src="../../js/validator.min.js"></script>
<!-- AES Encrption -->
<script src="../../js/crypto-js/crypto-js.js"></script>
<!-- Custom JS-->
<script src="../../js/validate.js"></script>
<script src="../../js/navbar.js"></script>
<script src="../../js/popup.js"></script>
<script src="../../js/profile.js"></script>

</script>

<script src="https://use.fontawesome.com/fd9dba5260.js"></script>
</body>
</html>
